:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-color: #fff5e4;
  --text-color: #800021;
  --text-light: #c24366;
  --btn-color: #881144;
  --btn-hover: #7e0f3f;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  list-style: none;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  min-height: 100vh;
}

input {
  display: block;
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
